<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new</title>

</head>
<body style="background-color:black">

<h2 style="color:RED;text-align:center">LOGIN</h2>
<form style="border:5px solid white;padding:50px;background-color:tomato;text-align:center;" action="new" method="post">
    {% csrf_token %}
    <label>Username:</label>
         <input type="text" name="username" placeholder="Enter your user name"><br>
    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="submit">


</form>
</body>
</html>